*{
margin: 0;
padding: 0;	
}

body {
	
    font-family: 'Rubik', sans-serif;
    background-color: #ff8800;
    color: black;
}

header{
      height: 10vh;
      display: flex;
	justify-content:
	background-color: rgb(22, 22, 22);
	box-shadow: 0 0 1rem black;

}

