
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
background-color: rgb(22,22,22);
color: #faf5d8;
font-family: 'burik', sans-sefif;  
}

header h1 {
    position: center;
    left: 1vh;
     font-size: 4vw;
	font-weight: 300;
	list-style:none;
	  
    }

h1{
display: block;
    font-size: 3em;
   
}


header{
  font-family: 'burik', sans-serif;
    position: fixed;
	
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: #0f0f1b;
    border: 1px solid #fafbf6;
    border-radius: 15px;
    z-index: 999;

}

header{
  display:block;
  	
}


header button img{
    display: flex;
    height: 100%;
    width: 46px;
    border: none;
    background: none;
    position: absolute ;
    background-position: top right;
    justify-content: space-between;
    align-content: center;
    cursor: pointer;
}

.nome{
	weight: 2vh; 
        width: 100%;
	position: center;	
}

.bloco img{
       height: 100px;
	width: 100px;
	border-radius: 10px;
	border: 2px solid #ffffff;
	
}

.flexdiv{
        position: center;
	
	
}




