@import url():

body {
	
    font-family: 'Rubik', sans-serif;
    background-color: #ff8800;
    color: black;
}

* {

  box-sizing: border-box;
  margin:0;
  padding: 0;

  }

.Letícia {
width: 42px;
height: 42px;
border-radius: 100px;
background-color: black;	
}

header{

  font-family: sans-serif;
  position: fixed;
  display: flex;

  height: 100%;
  height: 10vh;

    background-color: #746AbO;

    border: 2px solid black;
    border-radius: 20px;
    z-index: 999;

  }

  

  header h1 {

    position: relative;

    left: 1vh;

    font-size: 10vw;

      	font-weight: 10;
  }



 section.sobre-mim{

    position: relative;

    display: none;

    align-items: center;

    padding: 5vw;

    top: 8vh;

    width: 100%;

}


section div.flexdiv1{

    position: relative;

    width: 100%;

}


section p {

    font-size: 2.5vw;

    font-weight: 0;

    width: 60vh;

    text-align: justify;

}

section .img-dboa.jpg {
  width: 35vw;
  height: 50vh;

  background-image: url(img/minha\dboa.jpg);
  background-size: cover;
  background-position: right;

  border: 2px dotted #c47c53;
}

  section div.flexdiv1{
   text-size-adjust: 10%;
 }

 section.Jogos{

    position: relative;

	display: flex;

	align-items: center;

    padding: 5vw;

    top: 8vh;

    width: 100%;

}

section div.flexdiv2{

    position: relative;

    width: 100%;

}



section .img-jpg {

    width: 35vw;

    height: 50vh;

    background-image: url(https://photos.app.goo.gl/g7WkSGoc8WyYdcYW6);

    background-size: cover;

    background-position: right;

    border: 3px dotted #faf5d8;
}
 
